@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color-primario: #ffffff;
    --color-secundario: #0A3871;
    --color-terciario: #609ED4;
    --fuente-inter: 'Inter', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: var(--fuente-inter);
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

.logo img {
    max-width: 100px;
}

main {
    display: flex;
    flex: 1;
}

.izquierda {
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}



.contenedor {
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.caja {
    width: 100%;
}

.texto {
    flex: 8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 24px;
    resize: none;
    border-radius: 1vh;
    border-color: var(--color-primario);
    color: var(--color-secundario);
}
.texto textarea:focus {
    outline: none;
    border: 2px solid var(--color-secundario);
}

.texto textarea::placeholder {
    color: var(--color-secundario);
}

.contenido {
    flex: 2; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
}

.aviso {
    align-self: flex-start; 
    margin-bottom: 10px;
    font-weight: bold;
    color: grey;
    display: flex;
    align-items: center;
    gap: 5px;
}

.botones {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.encriptar{
    color: var(--color-primario);
    font-size: 16px;
    padding: 18px 39px;
    border-radius: 24px;
    background: var(--color-secundario);
    border: 2px solid var(--color-secundario);
    width: 200px;
}
.desencriptar{
    color: var(--color-secundario);
    font-size: 16px;
    padding: 18px 39px; 
    border-radius: 24px;
    background: var(--color-primario);
    border: 2px solid var(--color-terciario);
    width: 200px;
}

.derecha {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}

.resultado {
    flex: 7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.txtresultado{
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 24px;
    resize: none;
    border-radius: 1vh;
    border-color: var(--color-primario);
    color: var(--color-secundario)
}

.txtresultado:focus {
    outline: none;
}

.contenido2 {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
}

.copiar {
    width: 50%;
    margin-top: 1em;
    color: var(--color-secundario);
    font-size: 16px;
    padding: 18px 39px; 
    border-radius: 24px;
    background: var(--color-primario);
    border: 2px solid var(--color-terciario);
}



footer {
    background-color: var(--color-secundario);
    color: black;
    text-align: center;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer_logo {
    display: flex;
    
    align-items: center;
    gap: 0.5em; 
}

.footer_logo a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.logo_github {
    width: 30px; 
    height: auto; 
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .red, .blue {
        width: 100%;
    }

}

@media (max-width: 480px) {
    main {
        flex-direction: column;
    }

    .red, .blue {
        width: 100%;
    }

    .encriptar, .desencriptar{
        width: 150px;
    }
}

